# Visual Studio

.vs
__pycache__
TestResult.xml
*.log
obj/
*.csproj.user
launchSettings.json

/src/bin
/test/bin

/src/cpu/AVX2/*.asm
/src/cpu/AVX2/*.obj
/src/cpu/AVX2/*.txt

/dev/coff/coff.exe
/dev/coff/coff.pdb

/examples/mnist/bin
/examples/mnist/data/mnist.zip
/examples/mnist/data/test.csv
/examples/mnist/data/train.csv

/examples/iris
/examples/iris-0
/examples/mnist-0
/examples/vae/bin
/examples/ae/bin
/data/MNIST/raw
/dev/vae/bin/Debug/net8.0-windows
/dev/vae/bin/Release/net8.0-windows
